@import "../../style.scss";

#documents {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    margin-top: 25px;


    table{
        margin-top: 5px;

        td{
            border: 1px solid rgba(0, 0, 0, 0.219);
        }
    }
}
