@import "../../../style.scss";

.reports-cotent {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
