@import "../../style.scss";

#admin-data {
  width: 32.6%;
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 1%;
  > .number {
    font-size: 2.5vw;
    font-weight: 600;
  }

  > .description {
    font-size: 14px;
    color: $text-color;
  }

  > a {
    color: $accent-color;
    font-weight: 500;
  }
}
