@import "../../../style.scss";

#remarks {
  width: 100%;

  form {
    padding: 20px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > textarea {
      width: 100%;
      min-height: 100px;
      resize: none;
      border: none;
      background-color: $light-color;
      padding: 10px;
      border-radius: 8px;
    }
  }

  .review-container{
    margin: 20px 0;
  }
}
