@import "../../style.scss";

.report {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding-bottom: 10px;

    .title {
        font-size: 18px;
        font-weight: 600;
    }

    ul {
        margin-top: 10px;
        display: flex;
        gap: 0.5vw;
        > a {
            color: $accent-color;
            border-right: 1px solid rgba(0, 0, 0, 0.479);
            padding-right: 10px;
        }
    }
}
